In [1]:
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import matplotlib.pyplot as plt
from IPython.display import display

C:\Users\natha\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\natha\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('model_prepared_data.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)
df.head()

,datetime,taxi_zone,passenger_count,temperature_2m (°C),rain (mm),snow_depth (m),snowfall (cm),wind_speed_10m (km/h),day,hour,...,holiday_Veterans Day (observed),holiday_Washington's Birthday,rolling_mean_3,rolling_std_3,passenger_count_lag_1,passenger_count_lag_2,passenger_count_lag_3,day_of_week,is_weekend,quarter
0,2022-01-01 03:00:00,4,523.891304,-14.2,0.0,0.64,0.07,7.0,1,3,...,0,0,667.876812,135.636205,686.500000,793.239130,890.500000,5,1,1
1,2022-01-01 04:00:00,4,351.956522,-12.6,0.0,0.64,0.14,7.0,1,4,...,0,0,520.782609,167.293403,523.891304,686.500000,793.239130,5,1,1
2,2022-01-01 05:00:00,4,284.500000,-10.1,0.0,0.64,0.14,5.6,1,5,...,0,0,386.782609,123.436994,351.956522,523.891304,686.500000,5,1,1
3,2022-01-01 06:00:00,4,471.391304,-7.4,0.0,0.64,0.21,4.4,1,6,...,0,0,369.282609,94.642669,284.500000,351.956522,523.891304,5,1,1
4,2022-01-01 07:00:00,4,1116.391304,-6.7,0.0,0.64,0.21,4.2,1,7,...,0,0,624.094203,436.462389,471.391304,284.500000,351.956522,5,1,1